:root {
    --light-gray: #DADCE0;
    --blue-gray: #f2f5f8;
    --gray: #6b6969;
    --light-blue: #00BCD4;
}

body {
    background-color: var(--blue-gray);
    margin: 0;
}

table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
}

table th {
  color: #fff;
  background-color: #343a40;
  border-color: #454d55;
  padding: .75rem;
  vertical-align: middle;
  cursor: pointer;
}
table thead select {
  max-width: 150px;
  width: 100%;
}
table td {
  text-align: center;
  padding: .75rem;
  border-top: 1px solid #dee2e6;
}
table tr:nth-of-type(even) td {
    background-color: rgba(0,0,0,.05);
}
table th::after {
  content: "";
  min-width: 15px;
  display: inline-block;
}
table th.asc::after {
  content: " ▾";
}
table th.desc::after {
  content: " ▴";
}